{# New article template #}
{% extends "GoreBlogBundle:Admin:index.html.twig" %}

{% block page_content %}
    {% if editionMode is defined %}
        <h2>Update the article</h2>
        {% if article.thumbnail is not null %}
            <div class="edited-article-thumbnail">
                <img src="{{ asset(commonData.picturesFolder ~ article.thumbnail.url ) }}"/>
            </div>
        {% endif %}
    {% else %}
        <h2>Write a new article</h2>
    {% endif %}
    
    {% if categories|length > 0 %}
        {% include 'GoreBlogBundle:Admin:article-form.html.twig' %}
    {% else %}
        <div class="text-muted text-left">
            You have to define at least one category before writing an article.
            <a class="text-primary" href="{{ path('gore_blog_admin_manage_keywords') }}">Ok let's do it !</a>
        </div>
    {% endif %}
{% endblock %}
