{# template of the static page "about me" #}

{% extends "GoreBlogBundle:Blog:index.html.twig" %}

{% block page_content %}
    <h1>About me</h1>
    <p>
        Sorry, I haven't written my story yet. I'll do it soon :-)
    </p>
{% endblock %}