/* 
    Document   : blog
    Created on : 6 oct. 2013, 19:11:04
    Author     : Pete Gore
    Description:
        All the CSS styles of the Gore Blog
*/

/* LET'S DISABLE AUTOMATIC STYLES OF BODY */
html {
    min-height: 100%;
}

root { 
    display: block;
}

body {
    background-color: #F9F9F9;
    background: -webkit-linear-gradient(-45deg, #DEDEDE 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(-45deg, #DEDEDE 10%, #FFFFFF 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(-45deg, #DEDEDE 10%, #FFFFFF 90%); /* IE10 */
    background:      -o-linear-gradient(-45deg, #DEDEDE 10%, #FFFFFF 90%); /* Opera 11.10+ */
    background:         linear-gradient(-45deg, #DEDEDE 10%, #FFFFFF 90%); /* W3C */
}

#blog-page {
    margin-bottom: 30px;
    padding: 0;
}

.homepage-title {
    margin-bottom: 15px;
    margin-top: 20px;
    color: #333333;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px dashed #333333;
}

.homepage-hr {
    border-bottom: 3px dashed #333333;
}

.page-part {
    background-color: #ffffff;
    border: 1px solid #dedede;
    margin-bottom: 10px;
}

.page-part > .title {
    background-color: #f9f9f9;
    font-size: 25px;
    padding-left: 10px;
    font-variant: small-caps;
}





/** ERASING SOME BOOTSTRAP STYLES **/
.navbar-inverse {
    border: none;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #fefefe;
}

.row {
    margin: 0;
}




/*
 * == NAVBAR
 */
.navbar {
    margin-bottom: 30px;
}

.navbar .container {
    position: relative;
}

.navbar .triangle-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #333333;
    bottom: -15px;
    height: 0;
    right: 30px;
    position: absolute;
    z-index: 10;
}

.navbar .social-link {
    font-size: 25px;
}
.navbar .social-link a {
    padding: 14px 10px 0 5px;
}



/*
 * == SIDEBAR
 */
#sidebar {
    padding: 0 15px 0 0;
}

.sidebar-part {
    margin-bottom: 30px;
}

.sidebar-part .title {
    height: 29px;
    position: relative;
    border-bottom: 2px solid grey;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-part .title .triangle-down {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #333333;
    bottom: -7px;
    height: 0;
    position: absolute;
    right: 30px;
    z-index: 10;
}

.sidebar-part .menu-part {
}

.sidebar-part .list-item {
    height: 25px;
}

.sidebar-part .list-item a {
    display: block;
    width: 100%;
    padding: 2px 10px;
}

.sidebar-part .list-item:hover {
    cursor: pointer;
}

.sidebar-part .tags {
    text-align: center
}

a.tag {
    display: inline-block;
    font-size: 1.2em;
    padding: 2px;
}
a.tag:hover {
    text-decoration: none;
}




/** HEADER STYLES - BEGIN **/
input#search-input {
    width: 300px;
}
#navbar {
    border-radius: 0;
}
/** HEADER STYLES - END **/






/** GENERAL BODY STYLES - BEGIN **/
div.page-title {
    font-size: 2em;
    font-family: Georgia;
    font-weight: bold;
}
/** GENERAL BODY STYLES - END **/






/** MAIN ARTICLES STYLES - BEGIN **/

#main-articles {
    padding: 10px;
}

#main-articles div:not(.overview) {
    padding: 0;
}

.main-article {
    display: inline-block;
    border: 1px solid #333333;
    color: #EFEFEF;
    height: 200px;
    width: 48.7%; /* @TODO check why */
    margin-right: 2%;
}
/* used for the column articles in the article page */
.main-article.fullwidth {
    width: 100%;
    height: 150px;
}

.main-article:nth-child(2n){
    margin-right: 0;
}
.main-article:hover {
    border-color: #333333;
    cursor: pointer;
}

.main-article .title {
    background-color: #333333;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    padding-left: 6px;
    padding-top: 2px;
    position: relative;
}
.main-article.fullwidth .title {
    height: 30px;
    font-size: 17px;
    padding: 3px 10px;
}

.main-article .title .triangle-down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333333;
    bottom: -10px;
    height: 0;
    left: 30px;
    position: absolute;
    width: 0;
    z-index: 10;
}
.main-article.fullwidth .title .triangle-down {
    border-width: 10px;
    bottom: -10px;
}

.main-article .content {
    position: relative;
    height: 170px;
    overflow: hidden;
}
.main-article.fullwidth .content {
    height: 120px;
}

.main-article .content-part {
    position: absolute;
    width: 100%;
    height: 168px;
}
.main-article.fullwidth .content-part {
    height: 118px;
}

.main-article .content-part:nth-child(1){
    z-index: 4;
}
.main-article .content-part:nth-child(1).behind {
    z-index: 1;
}
.main-article .content-part:nth-child(2){
    z-index: 2;
}
.main-article .content-part:nth-child(3){
    z-index: 3;
}
.main-article .color {
    opacity: 0.9;
}

.main-article .thumb {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 120% auto;
    border: medium none;
    border-radius: 0;
    height: 168px;
    transition: none 0s ease 0s ;
    width: 100%;
}

.main-article .infos {
    display: table;
    font-size: 25px;
    font-weight: bold;
}

.main-article .infos .date  {
    font-size: 12px;
    font-weight: normal;
}


.main-article .infos div {
    display: table-cell;
    vertical-align: middle;
}

.main-article .show-more {
    color: #f9d423;
    position: absolute;
    right: 8px;
    top: 12px;
    display: none;
}
.main-article:hover .show-more {
    display: inherit;
}

/** MAIN ARTICLES STYLES - END **/






/** SMALL ARTICLES STYLES - BEGIN **/
#small-articles {
}

.thumbnail-article {
    border: 1px solid #999999;
    display: inline-block;
    float: left;
    height: 150px;
    margin-right: 1%;
    margin-bottom: 1%;
    overflow: hidden;
    position: relative;
    width: 32.666%;
}
.thumbnail-article:nth-child(3n){
    margin-right: 0;
}

.thumbnail-article .title {
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
}

.thumbnail-article:hover {
    cursor: pointer;
}

.thumbnail-article > div {
    position: absolute;
    width: 100%;
    height: 150px;
}

.thumbnail-article > .background {
    z-index: 4;
    background-position: center center;
    background-size: 100% auto;
}

.thumbnail-article > .content {
    z-index: 3;
    color: #EFEFEF;
}

.thumbnail-article > .color {
    z-index: 2;
    opacity: 0.9;
}

.thumbnail-article > .background.behind {
    z-index: 1;
}

#load-more {
    margin-top: 20px;
}

/** SMALL ARTICLES STYLES - END **/





/*
 * == ARTICLE PAGE
 */
.article .topbar {
    display: table;
    width: 100%;
    border-bottom: 1px solid #efefef;
}

.article .topbar div {
    display: table-cell;
    vertical-align: middle;
}

.article .title {
    font-size: 25px;
    padding-left: 10px;
}

.article .date {
    font-size: 0.9em;
    padding-right: 10px;
    text-align: right;
}

.article .content {
    padding: 10px;
    text-align: justify;
}

.article .article-image {
    text-align: center;
    margin-top: 20px;
}

.article img {
    border: 1px solid #999999;
    margin: auto;
    max-width: 60%;
    padding: 5px;
}