{# sidebar template #}

<div id="sidebar" class="col-md-3">
    <div class="page-part">
        <div class="title">{% trans %}Popular tags{% endtrans %}</div>
        <div class="menu-part">
            {% include 'GoreBlogBundle:Modules:tags-cloud.html.twig' %}
        </div> 
    </div>
</div>