{# sidebar template #}

<div class="sidebar-part">
    <div class="title">
        {% trans %}Categories{% endtrans %}
    </div>
    <div class="menu-part">
        {% for category in commonData.categories %}
            <div class="list-item"><a href="#">{{ category.name }}</a></div>
        {% endfor %}
    </div> 
</div>

<div class="sidebar-part">
    <div class="title">
        {% trans %}Popular tags{% endtrans %}
    </div>
    <div class="menu-part">
        {% include 'GoreBlogBundle:Modules:tags-cloud.html.twig' %}
    </div> 
</div>