{# sidebar template #}

{# search bar #}
<div class="sidebar-part">
    <div class="title">
        {% trans %}Search{% endtrans %}
    </div>
    <div class="menu-part">
        <form method="POST" action="{{ path('gore_blog_search') }}">
            <div>
                <input class="form-control search-input" type="text" name="gore_blog_search"/>
                <button class="form-control search-button" type="submit" value="Go"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div> 
</div>

        
{# categories list #}
<div class="sidebar-part">
    <div class="title">
        {% trans %}Categories{% endtrans %}
    </div>
    <div class="menu-part">
        {% for category in commonData.categories %}
            <div class="list-item"><a href="#">{{ category.name }}</a></div>
        {% endfor %}
    </div> 
</div>

        
{# most used tags #}
<div class="sidebar-part">
    <div class="title">
        {% trans %}Popular tags{% endtrans %}
    </div>
    <div class="menu-part">
        {% include 'GoreBlogBundle:Modules:tags-cloud.html.twig' %}
    </div> 
</div>