{# sidebar module "tags cloud" #}

{% if commonData.tagsCloudTags is defined and commonData.tagsCloudTags is not null %}
    <div class="tags-cloud">
        {% for tag in commonData.tagsCloudTags %}
            <span class="tag">
                {{ tag.name }}
            </span>
        {% endfor %}
    </div>
{% endif %}